In [16]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr

In [3]:
from fredapi import Fred

fred = Fred(api_key='6dd3f2a574385699f6f5f7dc0bc5ec3e')
data = fred.get_series('SP500')

In [78]:
def get_fred_data(param_list):
    df = pdr.DataReader(param_list, 'fred', '1950-01-01', '2022-04-01')
    return df.reset_index()

In [132]:
# HWI, HWIURATIO, CLAIMS, AMDMNO, CONSPI, S&P: indust, S&P div yield, S&P PE ratio, COMPAPFF
params = [
          'RPI', 'W875RX1', 'DPCERA3M086SBEA', 'CMRMTSPL', 'RETAIL', 'INDPRO', 'IPFPNSS', 'IPFINAL',
          'IPCONGD', 'IPDCONGD', 'IPNCONGD', 'IPBUSEQ', 'IPMAT', 'IPDMAT', 'IPNMAT', 'IPMANSICS', 'IPB51222S',
          'IPFUELS', 'CUMFNS', 'CLF16OV', 'CE16OV', 'UNRATE', 'UEMPMEAN', 'UEMPLT5', 'UEMP5TO14',
          'UEMP15OV', 'UEMP15T26', 'UEMP27OV', 'PAYEMS', 'USGOOD', 'CES1021000001', 'USCONS', 'MANEMP',
          'DMANEMP', 'NDMANEMP', 'SRVPRD', 'USTPU', 'USWTRADE', 'USTRADE', 'USFIRE', 'USGOVT', 'CES0600000007',
          'AWOTMAN', 'AWHMAN', 'HOUST', 'HOUSTNE', 'HOUSTMW', 'HOUSTS', 'HOUSTW', 'PERMIT', 'PERMITNE',
          'PERMITMW', 'PERMITS', 'PERMITW', 'AMDMUO', 'BUSINV', 'ISRATIO', 'M1SL', 'M2SL',
          'M2REAL', 'AMBSL',
          'TOTRESNS', 'NONBORRES', 'BUSLOANS', 'REALLN', 'NONREVSL', 'SP500', 'FEDFUNDS', 'CP3M', 'TB3MS', 'TB6MS',
          'GS1', 'GS5', 'GS10', 'AAA', 'BAA', 'TB3SMFFM', 'TB6SMFFM', 'T1YFFM', 'T5YFFM', 'T10YFFM',
          'AAAFFM', 'BAAFFM', 'EXSZUS', 'EXJPUS', 'EXUSUK', 'EXCAUS', 'WPSFD49207', 'WPSFD49502', 'WPSID61',
          'WPSID62', 'OILPRICE', 'PPICMM', 'CPIAUCSL', 'CPIAPPSL', 'CPITRNSL', 'CPIMEDSL', 'CUSR0000SAC',
          'CUSR0000SAD', 'CUSR0000SAS', 'CPIULFSL', 'CUSR0000SA0L2', 'CUSR0000SA0L5', 'PCEPI', 'DDURRG3M086SBEA',
          'DNDGRG3M086SBEA', 'DSERRG3M086SBEA', 'CES0600000008', 'CES2000000008', 'CES3000000008', 'MZMSL', 
          'DTCOLNVHFNM', 'DTCTHFNM', 'INVEST', 'VXOCLS']

# NAPMPI, HWI, HWIURATIO, CLAIMSx, NAPMEI, NAPM, NAPMNOI, NAPMSDI, NAPMII, AMDMNO, CONSPI, COMPAPFF, NAPMPRI, 
# SP:indust, S&P:div, S&P:PE

params = [
          'RPI', 'W875RX1', 'INDPRO', 'IPFPNSS', 'IPFINAL', 'IPCONGD', 'IPDCONGD', 'IPNCONGD', 'IPBUSEQ',
          'IPMAT', 'IPDMAT', 'IPNMAT', 'IPMANSICS', 'IPB51222s', 'IPFUELS', 'CUMFNS',
          'CLF16OV','CE16OV','UNRATE','UEMPMEAN','UEMPLT5','UEMP5TO14','UEMP15OV','UEMP15T26',
          'UEMP27OV','PAYEMS','USGOOD','CES1021000001','USCONS','MANEMP','DMANEMP','NDMANEMP','SRVPRD',
          'USTPU','USWTRADE','USTRADE','USFIRE','USGOVT','CES0600000007','AWOTMAN','AWHMAN','CES0600000008',
          'CES2000000008','CES3000000008',
          'HOUST','HOUSTNE','HOUSTMW','HOUSTS','HOUSTW','PERMIT','PERMITNE','PERMITMW','PERMITS',
          'PERMITW','DPCERA3M086SBEA','CMRMTSPL','RETAIL',
          'ACOGNO','ANDENO','AMDMUO','BUSINV','ISRATIO','UMCSENT','M1SL','M2SL','M2REAL',
          'AMBSL','TOTRESNS','NONBORRES','BUSLOANS','REALLN','NONREVSL','MZMSL','DTCOLNVHFNM',
          'DTCTHFNM','INVEST','FEDFUNDS','CP3M','TB3MS','TB6MS','GS1','GS5','GS10','AAA','BAA',
          'TB3SMFFM','TB6SMFFM','T1YFFM','T5YFFM','T10YFFM','AAAFFM','BAAFFM','TWEXMMTH','EXSZUS','EXJPUS',
          'EXUSUK','EXCAUS','WPSFD49207','WPSFD49502','WPSID61','WPSID62','OILPRICE','PPICMM',
          'CPIAUCSL','CPIAPPSL','CPITRNSL','CPIMEDSL','CUSR0000SAC','CUSR0000SAD','CUSR0000SAS','CPIULFSL',
          'CUSR0000SA0L2','CUSR0000SA0L5','PCEPI','DDURRG3M086SBEA','DNDGRG3M086SBEA','DSERRG3M086SBEA',
          'SP500','VXOCLS']

In [133]:
df_permits_all_series = get_fred_data(param_list=params)
print(df_permits_all_series.shape)
df_permits_all_series.head()

(10014, 120)

,DATE,RPI,W875RX1,INDPRO,IPFPNSS,IPFINAL,IPCONGD,IPDCONGD,IPNCONGD,IPBUSEQ,...,CUSR0000SAS,CPIULFSL,CUSR0000SA0L2,CUSR0000SA0L5,PCEPI,DDURRG3M086SBEA,DNDGRG3M086SBEA,DSERRG3M086SBEA,SP500,VXOCLS
0,1950-01-01,NaN,NaN,14.0761,15.1328,14.4251,21.5347,14.0563,25.3391,4.8141,...,NaN,23.5,25.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1950-02-01,NaN,NaN,14.1302,15.3338,14.5078,21.5733,14.0318,25.3391,4.9633,...,NaN,23.5,25.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1950-03-01,NaN,NaN,14.5894,15.6209,14.7836,22.0364,14.6195,25.7037,5.0130,...,NaN,23.5,25.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1950-04-01,NaN,NaN,15.0757,16.1091,15.1973,22.6539,15.6725,26.1139,5.1622,...,NaN,23.5,25.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1950-05-01,NaN,NaN,15.4270,16.4249,15.5559,23.1556,16.4806,26.2962,5.3810,...,NaN,23.6,25.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
df_permits_all_series.tail()

,DATE,RPI,W875RX1,INDPRO,IPFPNSS,IPFINAL,IPCONGD,IPDCONGD,IPNCONGD,IPBUSEQ,...,CUSR0000SAS,CPIULFSL,CUSR0000SA0L2,CUSR0000SA0L5,PCEPI,DDURRG3M086SBEA,DNDGRG3M086SBEA,DSERRG3M086SBEA,SP500,VXOCLS
10009,2022-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4575.52,NaN
10010,2022-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4631.60,NaN
10011,2022-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4602.45,NaN
10012,2022-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4530.41,NaN
10013,2022-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4545.86,NaN

In [135]:
df_permits_all_series.to_csv("Fred_Macroeconomic_Data_Final.csv")

In [2]:
df = pd.read_csv('CRSP')
df

/Users/atuldaluka/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,13,15,16,20,21,22,27,28,32,34,35,36,37,1105,1106,1107,1108,1112,1114,1115,1122,1126,1127,1132,1133,1135,1136,1137) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,GVKEY,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,datadate,fyearq,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
0,1000,P,01,LU,25881,23369,1970/11/13,1978/06/30,1970/12/31,1970,...,1.0,3089.0,325.0,978.0,NaN,NaN,0.0,NaN,1978/06/30,NaN
1,1000,P,01,LU,25881,23369,1970/11/13,1978/06/30,1971/03/31,1971,...,1.0,3089.0,325.0,978.0,NaN,NaN,0.0,NaN,1978/06/30,NaN
2,1000,P,01,LU,25881,23369,1970/11/13,1978/06/30,1971/06/30,1971,...,1.0,3089.0,325.0,978.0,NaN,NaN,0.0,NaN,1978/06/30,NaN
3,1000,P,01,LU,25881,23369,1970/11/13,1978/06/30,1971/09/30,1971,...,1.0,3089.0,325.0,978.0,NaN,NaN,0.0,NaN,1978/06/30,NaN
4,1000,P,01,LU,25881,23369,1970/11/13,1978/06/30,1971/12/31,1971,...,1.0,3089.0,325.0,978.0,NaN,NaN,0.0,NaN,1978/06/30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1297361,347085,P,1,LC,21069,58208,2021/04/01,E,2021/05/31,2021,...,1.0,7370.0,NaN,NaN,NaN,NaN,0.0,www.karooooo.com,NaN,2021/04/01
1297362,347085,P,1,LC,21069,58208,2021/04/01,E,2021/08/31,2021,...,1.0,7370.0,NaN,NaN,NaN,NaN,0.0,www.karooooo.com,NaN,2021/04/01
1297363,347085,P,1,LC,21069,58208,2021/04/01,E,2021/11/30,2021,...,1.0,7370.0,NaN,NaN,NaN,NaN,0.0,www.karooooo.com,NaN,2021/04/01
1297364,349530,P,1,LC,17324,56274,2021/07/09,E,2021/08/31,2021,...,1.0,7310.0,NaN,NaN,NaN,FL,0.0,www.nextplaytechnologies.com,NaN,NaN
1297365,349530,P,1,LC,17324,56274,2021/07/09,E,2021/11/30,2021,...,1.0,7310.0,NaN,NaN,NaN,FL,0.0,www.nextplaytechnologies.com,NaN,NaN

In [3]:
df['rdq'][df['rdq']!=np.nan].sort_values()

439628     1971/07/28
205032     1971/07/30
49870      1971/08/06
597102     1971/09/06
107505     1971/09/09
              ...
1297312           NaN
1297313           NaN
1297314           NaN
1297315           NaN
1297316           NaN
Name: rdq, Length: 1297366, dtype: object

In [ ]:
df = df.set_index(['tic','rdq'])
df.columns = df.columns.str.upper()
df

In [ ]:
(~(df['TEQQ'].isna())).sum()

In [ ]:
columns = ['FYEARQ', 'FQTR', 'CONM'] + list(set(['IVNCFY', 'FINCFY', 'OANCFY', 'CHQ', 'PRCCQ',
                    'DLCQ', 'DLTTQ', 'TEQQ', 'SALEQ', 'MKVALTQ', 'EPSPI12', 'CSH12Q',
                    'DVPSPQ', 'OANCFY', 'CAPXY', 'ATQ', 'LTQ', 'CHEQ', 'RSTCHELTQ', 'ACTQ',
                    'PPENTQ', 'CSHIQ', 'IVAOQ', 'DLCQ', 'DLTTQ', 'MIBQ', 'PSTKQ', 'CEQQ',
                    'PPEGTQ', 'INVTQ', 'AJEXQ', 'CSHOQ', 'TXDITCQ', 'TEQQ', 'PSTKQ', 'CSHOQ', 'NIQ', 'DPQ',
                    'WCAPCHY', 'IBQ', 'TXDBQ', 'SEQQ']))

In [ ]:
df_new = df[columns]
import gc
gc.collect()
df_new

Need to group by tic

In [ ]:
df_new = df_new.sort_index()
df_new = df_new.loc[df_new.index.dropna()]
df_new = df_new.drop_duplicates()

In [ ]:
df_new['NOA'] = (df_new['ATQ']-df_new['CHEQ'].fillna(0)-df_new['IVAOQ'].fillna(0)) \
    -(df_new['LTQ']-df_new['DLCQ'].fillna(0)-df_new['DLTTQ'].fillna(0)- \
      df_new['MIBQ'].fillna(0)-df_new['PSTKQ'].fillna(0)-df_new['CEQQ'].fillna(0))

df_new['BEQ'] = df_new['TEQQ'] + df_new['TXDITCQ'].fillna(0) - df_new['PSTKQ'].fillna(0)

In [ ]:
df2 = []

features = ['CF2P', 'LEV', 'S2P', 'Q', 'E2P', 'D2P', 'CF', 'C', 'BEME', 'A2ME', 'INVESTMENT', 'NOA',
           'DPI2A', 'NI']

for tic, sub in df_new.groupby('tic'): # .loc[['AAPL','GME']]
    sub = sub.copy()
    gc.collect()

    sub['CF2P'] = (sub['IBQ'].rolling(4).sum(skipna=False) + \
                   sub['DPQ'] + 
                   sub['TXDBQ'])/ (sub['CSHOQ']*sub['PRCCQ'])
    
    sub['LEV'] = (sub['DLCQ'] + sub['DLTTQ']) / (sub['DLCQ'] + sub['DLTTQ'] + sub['SEQQ'])
    
    sub['S2P'] = (sub['SALEQ'].rolling(4).sum(skipna=False)) / (sub['CSHOQ']*sub['PRCCQ'])
    
    sub['Q'] = (sub['ATQ'] + (sub['CSHOQ']*sub['PRCCQ']) - sub['CHEQ'] - sub['TXDBQ'])/sub['ATQ']
    
    sub['E2P'] = sub['IBQ'].rolling(4).sum(skipna=False) / (sub['CSHOQ']*sub['PRCCQ'])
    
    sub['D2P'] = (sub['DVPSPQ'].rolling(4).sum(skipna=False))/sub['PRCCQ']
    
    sub['BEME'] = sub['BEQ'] / (sub['CSHOQ']*sub['PRCCQ'])
    
    sub['CF'] = (sub['NIQ'] + sub['DPQ'] - sub['WCAPCHY'] - sub['CAPXY']) / sub['BEME']
    
    sub['C'] = sub['CHEQ'] / sub['ATQ']
            
    sub['A2ME'] = sub['ATQ'] / (sub['CSHOQ']*sub['PRCCQ'])
    
    sub['INVESTMENT'] = (sub['ATQ']-sub['ATQ'].shift(4)) / sub['ATQ'].shift(4)
    
    sub['NOA'] = sub['NOA']
    
    sub['DPI2A'] = (sub['PPEGTQ'] + sub['INVTQ'])/sub['ATQ'].shift(4)
    
    sub['NI'] = np.log(sub['AJEXQ']*sub['CSHOQ']) - np.log(sub['AJEXQ'].shift(4)*sub['CSHOQ'].shift(4))
        
    sub = sub[['FYEARQ','FQTR','CONM']+features]
    
    df2.append(sub)

In [ ]:
df2 = pd.concat(df2,axis=0)
df2

In [ ]:
df2.to_csv('features_inv_value.csv')

In [ ]:
df_new.shape

In [ ]:
sd = pd.read_csv('Securities Daily', usecols = ['datadate', 'tic','prccd'])
sd.head()
#  usecols = ['datadate', tic','prccd']

In [ ]:
sd.columns

In [ ]:
sd.shape