In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('CRSP')
df

/Users/atuldaluka/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,13,15,16,20,21,22,27,28,32,34,35,36,37,1105,1106,1107,1108,1112,1114,1115,1122,1126,1127,1132,1133,1135,1136,1137) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,GVKEY,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,datadate,fyearq,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
0,1000,P,01,LU,25881,23369,1970/11/13,1978/06/30,1970/12/31,1970,...,1.0,3089.0,325.0,978.0,NaN,NaN,0.0,NaN,1978/06/30,NaN
1,1000,P,01,LU,25881,23369,1970/11/13,1978/06/30,1971/03/31,1971,...,1.0,3089.0,325.0,978.0,NaN,NaN,0.0,NaN,1978/06/30,NaN
2,1000,P,01,LU,25881,23369,1970/11/13,1978/06/30,1971/06/30,1971,...,1.0,3089.0,325.0,978.0,NaN,NaN,0.0,NaN,1978/06/30,NaN
3,1000,P,01,LU,25881,23369,1970/11/13,1978/06/30,1971/09/30,1971,...,1.0,3089.0,325.0,978.0,NaN,NaN,0.0,NaN,1978/06/30,NaN
4,1000,P,01,LU,25881,23369,1970/11/13,1978/06/30,1971/12/31,1971,...,1.0,3089.0,325.0,978.0,NaN,NaN,0.0,NaN,1978/06/30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1297361,347085,P,1,LC,21069,58208,2021/04/01,E,2021/05/31,2021,...,1.0,7370.0,NaN,NaN,NaN,NaN,0.0,www.karooooo.com,NaN,2021/04/01
1297362,347085,P,1,LC,21069,58208,2021/04/01,E,2021/08/31,2021,...,1.0,7370.0,NaN,NaN,NaN,NaN,0.0,www.karooooo.com,NaN,2021/04/01
1297363,347085,P,1,LC,21069,58208,2021/04/01,E,2021/11/30,2021,...,1.0,7370.0,NaN,NaN,NaN,NaN,0.0,www.karooooo.com,NaN,2021/04/01
1297364,349530,P,1,LC,17324,56274,2021/07/09,E,2021/08/31,2021,...,1.0,7310.0,NaN,NaN,NaN,FL,0.0,www.nextplaytechnologies.com,NaN,NaN
1297365,349530,P,1,LC,17324,56274,2021/07/09,E,2021/11/30,2021,...,1.0,7310.0,NaN,NaN,NaN,FL,0.0,www.nextplaytechnologies.com,NaN,NaN

In [3]:
df = df.set_index(['tic','rdq'])
df.columns = df.columns.str.upper()
df

                  GVKEY LINKPRIM LIID LINKTYPE  LPERMNO  LPERMCO      LINKDT  \
tic  rdq
AE.2 NaN           1000        P   01       LU    25881    23369  1970/11/13
     NaN           1000        P   01       LU    25881    23369  1970/11/13
     NaN           1000        P   01       LU    25881    23369  1970/11/13
     1971/11/09    1000        P   01       LU    25881    23369  1970/11/13
     1972/04/06    1000        P   01       LU    25881    23369  1970/11/13
...                 ...      ...  ...      ...      ...      ...         ...
KARO 2021/07/19  347085        P    1       LC    21069    58208  2021/04/01
     2021/10/14  347085        P    1       LC    21069    58208  2021/04/01
     2022/01/18  347085        P    1       LC    21069    58208  2021/04/01
NXTP 2021/10/20  349530        P    1       LC    17324    56274  2021/07/09
     2022/01/13  349530        P    1       LC    17324    56274  2021/07/09

                  LINKENDDT    DATADATE  FYEARQ  ...  PRIUSA     SIC SPCINDCD  \
tic  rdq                                         ...
AE.2 NaN         1978/06/30  1970/12/31    1970  ...     1.0  3089.0    325.0
     NaN         1978/06/30  1971/03/31    1971  ...     1.0  3089.0    325.0
     NaN         1978/06/30  1971/06/30    1971  ...     1.0  3089.0    325.0
     1971/11/09  1978/06/30  1971/09/30    1971  ...     1.0  3089.0    325.0
     1972/04/06  1978/06/30  1971/12/31    1971  ...     1.0  3089.0    325.0
...                     ...         ...     ...  ...     ...     ...      ...
KARO 2021/07/19           E  2021/05/31    2021  ...     1.0  7370.0      NaN
     2021/10/14           E  2021/08/31    2021  ...     1.0  7370.0      NaN
     2022/01/18           E  2021/11/30    2021  ...     1.0  7370.0      NaN
NXTP 2021/10/20           E  2021/08/31    2021  ...     1.0  7310.0      NaN
     2022/01/13           E  2021/11/30    2021  ...     1.0  7310.0      NaN

                SPCSECCD SPCSRC STATE  STKO                        WEBURL  \
tic  rdq
AE.2 NaN           978.0    NaN   NaN   0.0                           NaN
     NaN           978.0    NaN   NaN   0.0                           NaN
     NaN           978.0    NaN   NaN   0.0                           NaN
     1971/11/09    978.0    NaN   NaN   0.0                           NaN
     1972/04/06    978.0    NaN   NaN   0.0                           NaN
...                  ...    ...   ...   ...                           ...
KARO 2021/07/19      NaN    NaN   NaN   0.0              www.karooooo.com
     2021/10/14      NaN    NaN   NaN   0.0              www.karooooo.com
     2022/01/18      NaN    NaN   NaN   0.0              www.karooooo.com
NXTP 2021/10/20      NaN    NaN    FL   0.0  www.nextplaytechnologies.com
     2022/01/13      NaN    NaN    FL   0.0  www.nextplaytechnologies.com

                      DLDTE     IPODATE
tic  rdq
AE.2 NaN         1978/06/30         NaN
     NaN         1978/06/30         NaN
     NaN         1978/06/30         NaN
     1971/11/09  1978/06/30         NaN
     1972/04/06  1978/06/30         NaN
...                     ...         ...
KARO 2021/07/19         NaN  2021/04/01
     2021/10/14         NaN  2021/04/01
     2022/01/18         NaN  2021/04/01
NXTP 2021/10/20         NaN         NaN
     2022/01/13         NaN         NaN

[1297366 rows x 1136 columns]

In [4]:
(~(df['TEQQ'].isna())).sum()

309341

In [33]:
columns = ['FYEARQ', 'FQTR', 'CONM'] + list(set(['IVNCFY', 'FINCFY', 'OANCFY', 'CHQ', 'PRCCQ',
                    'DLCQ', 'DLTTQ', 'TEQQ', 'SALEQ', 'MKVALTQ', 'EPSPI12', 'CSH12Q',
                    'DVPSPQ', 'OANCFY', 'CAPXY', 'ATQ', 'LTQ', 'CHEQ', 'RSTCHELTQ', 'ACTQ',
                    'PPENTQ', 'CSHIQ', 'IVAOQ', 'DLCQ', 'DLTTQ', 'MIBQ', 'PSTKQ', 'CEQQ',
                    'PPEGTQ', 'INVTQ', 'AJEXQ', 'CSHOQ', 'TXDITCQ', 'TEQQ', 'PSTKQ', 'CSHOQ', 'NIQ', 'DPQ',
                    'WCAPCHY', 'IBQ', 'TXDBQ', 'SEQQ']))

In [34]:
df_new = df[columns]
import gc
gc.collect()
df_new

                 FYEARQ  FQTR                       CONM  TXDBQ  OANCFY  \
tic  rdq
AE.2 NaN           1970   4.0      A & E PLASTIK PAK INC    NaN     NaN
     NaN           1971   1.0      A & E PLASTIK PAK INC    NaN     NaN
     NaN           1971   2.0      A & E PLASTIK PAK INC    NaN     NaN
     1971/11/09    1971   3.0      A & E PLASTIK PAK INC    NaN     NaN
     1972/04/06    1971   4.0      A & E PLASTIK PAK INC    NaN     NaN
...                 ...   ...                        ...    ...     ...
KARO 2021/07/19    2021   1.0               KAROOOOO LTD  2.837  16.271
     2021/10/14    2021   2.0               KAROOOOO LTD  3.679  30.482
     2022/01/18    2021   3.0               KAROOOOO LTD  2.584  46.823
NXTP 2021/10/20    2021   2.0  NEXTPLAY TECHNOLOGIES INC  0.000  -3.629
     2022/01/13    2021   3.0  NEXTPLAY TECHNOLOGIES INC  0.000 -12.575

                   DLCQ   PRCCQ    CSHOQ      ATQ  CAPXY  ...    CSH12Q  \
tic  rdq                                                  ...
AE.2 NaN         12.378  10.000    2.446      NaN    NaN  ...    3.4860
     NaN            NaN   9.750    3.507      NaN    NaN  ...    3.6120
     NaN            NaN   8.250    3.518      NaN    NaN  ...    3.6580
     1971/11/09     NaN   4.625    3.515      NaN    NaN  ...    3.7330
     1972/04/06   2.857   5.750    2.995   29.330    NaN  ...    3.4940
...                 ...     ...      ...      ...    ...  ...       ...
KARO 2021/07/19   2.941     NaN      NaN  183.238    NaN  ...   22.3635
     2021/10/14   2.720     NaN      NaN  190.393    NaN  ...   24.7555
     2022/01/18   2.912  33.000      NaN  193.100    NaN  ...   27.1423
NXTP 2021/10/20  12.256   2.000   89.694  103.767  0.141  ...   87.8370
     2022/01/13   8.386   1.060  109.247  120.961  0.251  ...  104.3690

                 PPENTQ  TXDITCQ  WCAPCHY     SEQQ    NIQ  IVNCFY     LTQ  \
tic  rdq
AE.2 NaN            NaN      NaN      NaN   10.544 -1.064     NaN     NaN
     NaN            NaN      NaN      NaN      NaN  0.346     NaN     NaN
     NaN            NaN      NaN      NaN      NaN  0.152     NaN     NaN
     1971/11/09     NaN      NaN      NaN      NaN -0.672     NaN     NaN
     1972/04/06   7.639    0.000      NaN    8.381 -2.144     NaN  20.949
...                 ...      ...      ...      ...    ...     ...     ...
KARO 2021/07/19  84.667    2.837      NaN  123.768  6.417  -9.235  58.157
     2021/10/14  84.409    3.679      NaN  128.766  7.888 -20.026  60.077
     2022/01/18  81.377    2.584      NaN  131.816  7.768 -33.910  59.328
NXTP 2021/10/20   1.862    0.000      NaN   66.207 -8.814  12.294  33.324
     2022/01/13   4.876    0.000      NaN   85.146 -9.059  11.573  31.015

                  MKVALTQ     CEQQ
tic  rdq
AE.2 NaN              NaN   10.544
     NaN              NaN      NaN
     NaN              NaN      NaN
     1971/11/09       NaN      NaN
     1972/04/06       NaN    8.381
...                   ...      ...
KARO 2021/07/19       NaN  123.768
     2021/10/14       NaN  128.766
     2022/01/18       NaN  131.816
NXTP 2021/10/20  179.3880   66.207
     2022/01/13  115.8018   85.146

[1297366 rows x 39 columns]

Need to group by tic

In [35]:
df_new = df_new.sort_index()
df_new = df_new.loc[df_new.index.dropna()]
df_new = df_new.drop_duplicates()

In [36]:
df_new['NOA'] = (df_new['ATQ']-df_new['CHEQ'].fillna(0)-df_new['IVAOQ'].fillna(0)) \
    -(df_new['LTQ']-df_new['DLCQ'].fillna(0)-df_new['DLTTQ'].fillna(0)- \
      df_new['MIBQ'].fillna(0)-df_new['PSTKQ'].fillna(0)-df_new['CEQQ'].fillna(0))

df_new['BEQ'] = df_new['TEQQ'] + df_new['TXDITCQ'].fillna(0) - df_new['PSTKQ'].fillna(0)

In [37]:
df2 = []

features = ['CF2P', 'LEV', 'S2P', 'Q', 'E2P', 'D2P', 'CF', 'C', 'BEME', 'A2ME', 'INVESTMENT', 'NOA',
           'DPI2A', 'NI']

for tic, sub in df_new.groupby('tic'): # .loc[['AAPL','GME']]
    sub = sub.copy()
    gc.collect()

    sub['CF2P'] = (sub['IBQ'].rolling(4).sum(skipna=False) + \
                   sub['DPQ'] + 
                   sub['TXDBQ'])/ (sub['CSHOQ']*sub['PRCCQ'])
    
    sub['LEV'] = (sub['DLCQ'] + sub['DLTTQ']) / (sub['DLCQ'] + sub['DLTTQ'] + sub['SEQQ'])
    
    sub['S2P'] = (sub['SALEQ'].rolling(4).sum(skipna=False)) / (sub['CSHOQ']*sub['PRCCQ'])
    
    sub['Q'] = (sub['ATQ'] + (sub['CSHOQ']*sub['PRCCQ']) - sub['CHEQ'] - sub['TXDBQ'])/sub['ATQ']
    
    sub['E2P'] = sub['IBQ'].rolling(4).sum(skipna=False) / (sub['CSHOQ']*sub['PRCCQ'])
    
    sub['D2P'] = (sub['DVPSPQ'].rolling(4).sum(skipna=False))/sub['PRCCQ']
    
    sub['BEME'] = sub['BEQ'] / (sub['CSHOQ']*sub['PRCCQ'])
    
    sub['CF'] = (sub['NIQ'] + sub['DPQ'] - sub['WCAPCHY'] - sub['CAPXY']) / sub['BEME']
    
    sub['C'] = sub['CHEQ'] / sub['ATQ']
            
    sub['A2ME'] = sub['ATQ'] / (sub['CSHOQ']*sub['PRCCQ'])
    
    sub['INVESTMENT'] = (sub['ATQ']-sub['ATQ'].shift(4)) / sub['ATQ'].shift(4)
    
    sub['NOA'] = sub['NOA']
    
    sub['DPI2A'] = (sub['PPEGTQ'] + sub['INVTQ'])/sub['ATQ'].shift(4)
    
    sub['NI'] = np.log(sub['AJEXQ']*sub['CSHOQ']) - np.log(sub['AJEXQ'].shift(4)*sub['CSHOQ'].shift(4))
        
    sub = sub[['FYEARQ','FQTR','CONM']+features]
    
    df2.append(sub)

/Users/atuldaluka/opt/anaconda3/lib/python3.8/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [38]:
df2 = pd.concat(df2,axis=0)
df2

                  FYEARQ  FQTR                          CONM  CF2P       LEV  \
tic   rdq
0015B 1984/01/16    1983   4.0  BURLINGTON COAT FACTORY INVS   NaN  0.050222
      1984/03/15    1984   1.0  BURLINGTON COAT FACTORY INVS   NaN  0.044781
      1984/05/25    1984   2.0  BURLINGTON COAT FACTORY INVS   NaN  0.043083
      1984/08/27    1984   3.0  BURLINGTON COAT FACTORY INVS   NaN  0.042454
      1985/01/01    1984   4.0  BURLINGTON COAT FACTORY INVS   NaN  0.072050
...                  ...   ...                           ...   ...       ...
ZZZ1  2000/08/14    2000   2.0   ASSURED GUARANTY MUNI HLDGS   NaN  0.149482
      2000/11/13    2000   3.0   ASSURED GUARANTY MUNI HLDGS   NaN  0.143983
      2001/03/28    2000   4.0   ASSURED GUARANTY MUNI HLDGS   NaN  0.135635
      2001/05/14    2001   1.0   ASSURED GUARANTY MUNI HLDGS   NaN  0.131221
      2001/08/13    2001   2.0   ASSURED GUARANTY MUNI HLDGS   NaN  0.128394

                       S2P   Q       E2P       D2P  CF         C  BEME  \
tic   rdq
0015B 1984/01/16       NaN NaN       NaN       NaN NaN  0.214994   NaN
      1984/03/15       NaN NaN       NaN       NaN NaN  0.274170   NaN
      1984/05/25       NaN NaN       NaN       NaN NaN  0.140065   NaN
      1984/08/27  1.418175 NaN  0.082172  0.000000 NaN  0.009504   NaN
      1985/01/01  1.499765 NaN  0.081873  0.000000 NaN  0.019574   NaN
...                    ...  ..       ...       ...  ..       ...   ...
ZZZ1  2000/08/14  0.098857 NaN  0.017775  0.006326 NaN  0.036884   NaN
      2000/11/13  0.104211 NaN  0.022489  0.004737 NaN  0.029840   NaN
      2001/03/28       NaN NaN       NaN       NaN NaN  0.041668   NaN
      2001/05/14       NaN NaN       NaN       NaN NaN  0.029079   NaN
      2001/08/13       NaN NaN       NaN       NaN NaN  0.040394   NaN

                      A2ME  INVESTMENT       NOA    DPI2A        NI
tic   rdq
0015B 1984/01/16  0.381941         NaN   134.870      NaN       NaN
      1984/03/15  0.557109         NaN   148.914      NaN       NaN
      1984/05/25  0.590922         NaN   171.133      NaN       NaN
      1984/08/27  0.651735         NaN   187.771      NaN       NaN
      1985/01/01  0.871765    0.334658   196.068  1.29258  0.000000
...                    ...         ...       ...      ...       ...
ZZZ1  2000/08/14  1.171566    0.186392  2805.504      NaN  0.106163
      2000/11/13  1.185838    0.144637  2946.064      NaN  0.106495
      2001/03/28       NaN    0.083648  3104.723      NaN  0.015108
      2001/05/14       NaN    0.147457  3261.123      NaN  0.006222
      2001/08/13       NaN    0.112255  3299.423      NaN -0.009021

[924208 rows x 17 columns]

In [39]:
df2.to_csv('features_inv_value.csv')

In [44]:
df_new.shape

(924208, 41)

In [1]:
sd = pd.read_csv('Securities Daily', usecols = ['datadate', 'tic','prccd'])
sd.head()
#  usecols = ['datadate', tic','prccd']

NameError: name 'pd' is not defined

In [41]:
sd.columns

Index(['GVKEY', 'LINKPRIM', 'LIID', 'LINKTYPE', 'LPERMNO', 'LPERMCO', 'LINKDT',
       'LINKENDDT', 'iid', 'datadate', 'tic', 'cusip', 'conm', 'curcddv',
       'capgn', 'cheqv', 'div', 'divd', 'divdpaydateind', 'divsp', 'dvrated',
       'paydateind', 'anncdate', 'capgnpaydate', 'cheqvpaydate', 'divdpaydate',
       'divsppaydate', 'paydate', 'recorddate', 'curcdd', 'adrrc', 'ajexdi',
       'cshoc', 'cshtrd', 'dvi', 'eps', 'epsmo', 'prccd', 'prchd', 'prcld',
       'prcod', 'prcstd', 'trfd', 'exchg', 'secstat', 'tpci', 'cik', 'fic',
       'add1', 'add2', 'add3', 'add4', 'addzip', 'busdesc', 'city', 'conml',
       'costat', 'county', 'dlrsn', 'ein', 'fax', 'fyrc', 'ggroup', 'gind',
       'gsector', 'gsubind', 'idbflag', 'incorp', 'loc', 'naics', 'phone',
       'prican', 'prirow', 'priusa', 'sic', 'spcindcd', 'spcseccd', 'spcsrc',
       'state', 'stko', 'weburl', 'dldte', 'ipodate'],
      dtype='object')

In [ ]:
sd.shape